main { padding: 20px; }
header {background-color: #d2f4ea; padding: 10px; }
footer {background-color: #d2f4ea; padding: 10px; }
.flexbox {
    display: flex;
    flex-flow: column;
}
.flexbox-space-evenly {
    display: flex;
    justify-content: space-evenly;
}
.flexbox-end {
    display: flex;
    justify-content: flex-end;
}
button {
    margin: 20px 20px 0px 20px;
}
ul {
    margin: 10px;
}
